# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
prod.Dockerfile
dev.Dockerfile
Dockerfile
.dockerignore
.gitignore
README.md
private.md
private.txt
docker-compose.yml
.env
.env.production

# Project artificats we don't want include.
private.md
private.txt
.DS_Store
docs
data
