// Imports
@import "variables"; // Importing color variables, font settings, etc.
@import "mixins"; // Importing mixins for reuse in multiple classes

// Video playing interface
.playing-video {
	position: relative;

	img {
		filter: brightness(30%);
		object-fit: cover;
	}

	& > div {
		position: relative;
	}

	.fa-play {
		@include absolute-center;
		font-size: 2rem;
		color: $color-light-shade;

		&:hover {
			opacity: 0.7;
		}
	}

	&:after {
		content: "Currently Playing";
		@include shadow-box($color-shadow);
		font-size: 1rem;
		color: $color-light-shade;
		text-align: center;
		@include absolute-center;
		top: 65%;
	}
}

// Thumbnail container with hover effects
.thumbnail-container {
	position: relative;
	width: fit-content; // Adjust the width as necessary
	cursor: pointer;
	overflow: hidden;
	border-radius: 8px;

	img {
		display: block;
		width: 100%;
		height: auto;
		transition: transform 0.3s ease;
	}

	&:hover img {
		transform: scale(1.1);
	}
}

// Play button styling
.play-button {
	position: absolute;
	@include absolute-center;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s ease, background-color 0.3s ease;

	&::before {
		content: "";
		border-style: solid;
		border-width: 15px 0 15px 23px;
		border-color: transparent transparent transparent #ffffff;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.8);
		transform: translate(-50%, -50%) scale(1.1);
	}
}

// Graph box styling
.graph-box {
	width: 100%;
	margin: 0 auto;

	.main-box {
		width: auto;
		border-radius: 10px;
		padding: 20px;
		@include shadow-box($color-shadow);
		margin: 0 auto;
	}

	.graphs {
		background: linear-gradient(180deg, $color-light-shade 0%, $primary 15%);
		width: 100%;
		border-radius: 10px;
		padding: 20px;

		h1 {
			font-size: 40px;
		}
	}

	.line-graph-box {
		height: 200px;
	}
}

// Container with overlay effect
.container {
	position: relative;
	width: 50%;
	max-width: 300px;

	.overlay {
		@include overlay-style;
		font-size: 20px;

		&:hover {
			opacity: 1;
		}
	}
}

// Modal head with progress container
.modal-card-head {
	.progress-container {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

// Table styling
.leaderboard-table {
	background-color: darken($background-light, 10%);
	border-collapse: separate;
	border-radius: $border-radius;
	width: 100%; // Ensures table takes full available width
	border: 1px solid darken($background-dark, 5%);

	thead th {
		font-family: $family-primary;
		padding: 10px;
		background-color: darken($background-light, 90%);
		color: set-text-color(darken($background-light, 90%));
		border-bottom: none; // Prevents double borders
	}

	tbody {
		tr {
			background-color: darken($background-light, 90%);
			color: set-text-color(darken($background-light, 90%));
			transition: background-color 0.3s, color 0.3s;

			&:not(:first-child) {
				border-top: 3px solid transparent; // Creates spacing effect between rows
			}

			&.is-highlighted {
				background-color: $highlight-color !important;
				color: set-text-color($highlight-color);
			}

			&:hover {
				background-color: darken(
					$color-main,
					20%
				); // Slightly darker on hover for better visibility
				color: set-text-color(darken($background-light, 20%));
				transition: background-color 0.3s;
			}

			td {
				font-family: $family-secondary;
				padding: 15px;

				.figure-img img {
					border-radius: $border-radius;
				}
			}
		}
	}
}

// Figure image styling
.figure-img {
	@include img-size(44px, 44px);
	display: block;
	overflow: hidden;
	border-radius: 50%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// Media object styling
.media {
	.icon {
		background: linear-gradient(180deg, $color-light-shade 0%, $primary 15%);
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 3em;
		height: 3em;
	}

	@media screen and (max-width: 768px) {
		.media-content {
			overflow-x: unset !important;
		}
	}
}

// Hero boxes custom styling
.custom-hero {
	width: auto;
}

// Video container for 16:9 aspect ratio
.video-container.is-16by9 {
	position: relative;
	width: 100%;
	padding-top: 56.25%; // Aspect ratio 16:9

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.youtube-title {
	letter-spacing: 0.5px;
	/* Slightly increase letter spacing */
	line-height: 1.2;
	/* Adjust line height for better readability */

	&:hover {
		text-decoration: underline;
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	.tag {
		display: inline-flex;
		align-items: center;
		/* Centers the icon and text vertically */
		gap: 5px;
		/* Space between icon and text */
		background-color: #f5f5f5;
		/* Light grey background */
		border-radius: 4px;
		/* Rounded corners for tags */
		padding: 5px 10px;
		/* Padding around text */

		i {
			color: #3273dc;
			/* Color for icons */
		}
	}
}

.scrollable-exercises {
	max-height: 60vh; /* Adjust based on your design needs */
	overflow-y: auto;
}

// Unsassified styles

/* ---------------- Basic css ------------------ */
:root {
	scroll-behavior: unset;

	/* Also use these colors */
	--colormain: #d7c278;
	--color-light-shade: #ffffff;
	--color-dark-shade: #735827;
	--color-accent1: #b9aa8a;
	--color-accent2: #000000;
	--color-accent3: #009bd6;
	--color-accent4: #ffaa00;
	--color-shadow: rgba(0, 0, 0, 0.75);

	/* MemberLeaderboard.css */
	--background-dark: #000000;
	--background-light: #151516;
	--highlight-color: var(--color-dark-shade);
	--text-color: #ffffff;
	--border-radius-sm: 12px;
	--border-radius: 8px;
	--border-radius-lg: 40px;
}

img {
	width: 100%;
}

button {
	background: none;
	border: none;
	outline: none;
}

/* body */
body {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.45;
	color: var(--text-color);
	overflow-x: hidden;
	font-family: "Inter", sans-serif;
}

.container {
	padding-left: 3rem;
	padding-right: 3rem;
}

main {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.figure img,
.figure {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	font-family: "Inter", sans-serif;
}

/* Font Weights */
.f_300 {
	font-weight: 300 !important;
}
.f_400 {
	font-weight: 400 !important;
}
.f_500 {
	font-weight: 500 !important;
}
.f_600 {
	font-weight: 600 !important;
}
.f_700 {
	font-weight: 700 !important;
}
.f_800 {
	font-weight: 800 !important;
}
.f_900 {
	font-weight: 900 !important;
}

/* texts */
.text_lg {
	font-size: 15px;
	color: $white;
}
.text_md {
	font-size: 12px;
	color: $white;
}
.text_sm {
	font-size: 8px;
	color: $white;
}

/* -------------- Header Styles by Sahriar --------------- */
.main_page {
	width: 390px;
	background: $white;
	margin: 0 auto;
	height: auto;
}
.main_page::-webkit-scrollbar {
	scrollbar-width: 0;
	display: none;
}
.back_arrow img {
	width: 35px;
}

.grid_icon img {
	width: 20px;
}

.site_header {
	display: flex;
	justify-content: space-between;
	padding: 20px 23px 20px 14px;
	align-items: center;
}

.back_arrow,
.grid_icon {
	display: flex;
	align-items: center;
}

.site_header h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: 24.2px;
}
/* --------------- link ----------------- */
.links {
	display: flex;
	justify-content: space-between;
	margin: 20px 24px;
	background: #1e2237;
	height: 50px;
	align-items: center;
	padding: 0 28px 0 24px;
	border-radius: var(--border-radius-sm);
}

.links a {
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
}

.links a:before {
	content: "";
	background: $color-accent3;
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0;
	opacity: 0;
	transition: 0.15s;
}

.links a:hover:before,
.links a.active:before {
	opacity: 1;
}

/* --------------- Leader board ----------------- */
.leader_img.second {
	border: 3px solid $color-accent3;
}

.badge {
	font-size: 8px;
	transform: rotate(45deg);
}

.badge_rotate {
	background: $color-accent3;
	width: 17px;
	height: 17px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -8.5px;
	left: 50%;
	transform: translateX(-50%) rotate(-45deg);
}

.leader_wrap {
	background: lighten($color-accent2, 10%);
	border-radius: var(--border-radius-sm);
	display: grid;
	grid-template-columns: 1fr 0fr 1fr;
	height: 113px;
}

.leader_texts h4 {
	padding: 6px 0 4px 0;
	font-weight: 700;
	line-height: 18.15px;
}

.leader_texts {
	text-align: center;
}

.leader_texts h2 {
	font-weight: 500;
	line-height: 1.5;
	line-height: 14.52px;
}

.leader_texts p {
	line-height: 9.68px;
	color: var(--color-accent1);
}

.second .leader_texts h4 {
	color: $color-accent3;
}

.third .leader_texts h4 {
	color: $color-main;
}

.leader {
	position: relative;
	display: flex;
	align-items: end;
	justify-content: center;
	height: inherit;
}

.leader_img_wrap {
	border-radius: 10rem;
	width: fit-content;
	display: flex;
	position: relative;
}

.leader_img_wrap {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -42px;
}

.leader_img {
	width: 65px;
}
.leader.first .leader_img {
	@include img-size(65px, 65px);
}

.crown {
	width: 34px !important;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -35px;
}

.leader.first .leader_img_wrap {
	top: -51px;
}

.leader.first {
	width: 122px;
	background: $color-accent2;
	height: 159px;
	padding: 0;
	transform: translateY(-46px);
	border-radius: 30px 30px 0px 0px;
	align-items: end;
}

.leaderboard {
	padding: 148px 21px 28px 27px;
}

.leader.second .leader_img_wrap {
	border: 3px solid $color-accent3;
}

.leader.first .leader_img_wrap {
	border: 3px solid $color-accent4;
}

.leader.third .leader_img_wrap {
	border: 3px solid $color-main;
}

.leader.first .badge_rotate {
	background: $color-accent4;
}

.leader.third .badge_rotate {
	background: $color-main;
}

.leader .leader_texts {
	padding-bottom: 17px;
}

/* ========== Player =========== */
.player {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #5f59598a;
	padding: 16px 0;
}

.player:last-child {
	border-bottom: 0;
}

.player_left {
	display: flex;
	align-items: center;
	gap: 21px;
}

.player_img img {
	width: 50px;
}

.player_left_text p {
	color: $white;
}

.player_left_text h2 {
	padding-bottom: 6px;
	color: $white;
}

.rank_arrow {
	width: 9px;
}

.players {
	padding: 15px 30px 15px 26px;
	border-radius: 40px 40px 0px 0px;
	background: $background-dark;

	table {
		width: 100%;

		tr {
			border: 0;
			position: relative;

			&:hover {
				background-color: darken(
					$color-main,
					20%
				); // Slightly darker on hover for better visibility
				color: set-text-color(darken($background-light, 20%));
				transition: background-color 0.3s;
			}

			td {
				padding: 13px 0;
				margin: 0;

				&:first-child {
					padding-left: 10px;
				}

				&:last-child {
					padding-right: 10px;
				}

				.player_left {
					display: flex;
					align-items: center;
					gap: 21px;

					.player_img img {
						width: 50px;
					}

					.player_left_text {
						h2 {
							padding-bottom: 6px;
							font-size: 12px;
							font-weight: 500;
						}

						p {
							font-size: 8px;
							font-weight: 300;
							color: $white;
						}
					}
				}

				.player_right {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
                    margin-top: 5px;

					h2 {
						font-size: 12px;
						font-weight: 500;
					}

					.rank_arrow {
						padding-top: 6px;
						width: 9px;
					}
				}
			}

			&:before {
				content: "";
				width: 100%;
				height: 1px;
				background: rgba(95, 89, 89, 0.54);
				position: absolute;
				bottom: 0;
			}

			&:last-child:before {
				height: 0;
			}
		}
	}
}

/*----- sm devices (tablets, 767px and down) -----*/
@media (max-width: 1024px) and (min-width: 450px) {
	.main_page {
		width: 100%;
	}

	.first .leader_texts h4 {
		padding: 13px 0 12px 0;
		color: $color-accent4;
	}

	.leader.first .leader_texts {
		padding-bottom: 34px;
	}

	.leader_wrap {
		width: 342px;
		display: flex;
		justify-content: space-evenly;
		margin: 0 auto;
	}
}

/*----- sm devices (tablets, 575px and down) -----*/
@media (max-width: 575px) {
	.leader_wrap {
		margin: 0 auto;
	}
}

/*----- very small devices (phones, 320px and down) -----*/
@media (max-width: 450px) {
	.main_page {
		width: 100%;
	}

	.leader_wrap {
		width: 100%;
		grid-template-columns: 1fr;
		height: auto;
		padding: 10px 0px 10px 0px;
	}

	.leader_img_wrap {
		position: relative;
		left: 0;
		transform: none;
		top: 0;
	}

	.leader.first {
		padding: 40px 0px 20px 0px;
		.leader_texts {
			padding-bottom: 0px;
		}
	}

	.leader.second {
		.leader_texts {
			padding-bottom: 0px;
		}
	}

	.leader.third {
		.leader_texts {
			padding-bottom: 0px;
		}
	}

	.leader_img {
		.figure-img img {
			border-radius: $border-radius;
		}
	}

	.leader.first .leader_img_wrap {
		top: 0;
	}

	.leader.first {
		width: 100%;
		height: auto;
		transform: none;
		border-radius: 12px;
		margin: 1rem 0rem 1rem 0rem;
	}

	.first .leader_texts h4 {
		// padding: 13px 0 12px 0;
		color: $color-accent4;
	}

	.leaderboard {
		padding: 20px;
	}
}
