// Fonts
$font-primary: "Arial", sans-serif;
$font-secondary: "Open Sans", sans-serif;

// Base Colors
$gold: #d7c278;
$white: #ffffff;
$black: #000000;

// Thematic Colors
$color-main: $gold; 
$color-light-shade: desaturate($gold, 65%); 
$color-dark-shade: darken($gold, 25%);  // Dynamically darken gold
$color-accent1: desaturate($gold, 25%); 
$color-accent2: $black; 
$color-accent3: lighten(desaturate(#009BD6, 10%), 15%); // Lightened and slightly desaturated blue 
$color-accent4: darken(desaturate(#FFAA00, 10%), 10%); // Darkened and slightly desaturated orange
$color-shadow: rgba($black, 0.75);

// Layout Colors
$background-dark: $black;
$background-light: $color-light-shade;
$highlight-color: $color-dark-shade;
$text-dark: $black;  // Black
$text-light: $white;  // White
$border-radius: 8px;

// Link Colors
$color-link1: #002366; // Dark blue
$color-link2: #004225; // Green
$color-link3: #8B0000; // Dark red
$color-link4: lighten($color-dark-shade, 15%); // Lighter shade of dark gold

// Color Palettes
$color-green-shades: (#3cb371, #2e8b57, #008000);
$color-yellow-shades: (#ffd700, #ffa500, #ff8c00);
$color-blue-shades: (#1e90ff, #4169e1, #0074d9);
$color-red-shades: (#ff0000, #b22222, #dc143c);

// Bulma Overrides
$family-primary: $font-primary;
$family-secondary: $font-secondary;
$body-background-color: $color-light-shade;
$primary: $color-main;
$link: $color-dark-shade;
$link-hover: $color-link4;
$info: $color-dark-shade;
$success: nth($color-green-shades, 1);
$warning: nth($color-yellow-shades, 1);
$danger: nth($color-red-shades, 1);
$dark: $color-accent2;
